*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    background-image: url("kawaii-weather-clip-art-bundle-svg-dxf-png-eps-shophannahlou-large-thumbnail-2-d4fc73542357ad0bfbca4b68190986a8e1d5f8d5a5ee7dcde5ac94b7205b3b63.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    color: lavender;
}


/* Style for the weather box */
.weather-box {
    background-color: #2e2e2e;  /* Dark color for the box */
    color: #ffffff;             /* Light text for contrast */
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid #444444;  /* Optional border color */
    max-width: fit-content;
    transform: translate(260%, 10%);

}

/* Style for the search bar */


.box {
    border: 2px solid white;
    width: 200px;
    height: 100%;
    margin: auto;  
    padding: 20px;
    text-align: center;
}

.search {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 6vh;
}

.conditions .notfound {
    position: absolute;
    align-items: center;
    text-align: center;
    transform: translate(-20%, -85%);
    overflow: hidden;
    visibility: hidden;

}

.conditions i{
    font-size: 56px;
    margin-right: 10px;
}
.conditions .temperature {
    align-items: center;
    justify-content: flex-start;
}
/* .conditions .temperature .active{
    align-items: center;
    justify-content: flex-start;
} */
.conditions .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.conditions .windspeed{
    padding-right: 20px;
    justify-content: flex-end;
}

